---
layout: default_base.njk
---

<header>
  <h1><a href="/">{{ title }}</a></h1>
  <div class="description">
    Keyword analysis for CHI proceedings
  </div>
</header>
<main>
  {{ content | safe }}
</main>
