---
layout: base_no_year.njk
---
<style>
  #rateperyear {
    width: 100%;
    max-height: 400px;
  }
</style>

<div class="flex-col">
  <h2>Keyword: {{ topKeywords[keyword].display }}</h2>
  <p>Total count: {{ topKeywords[keyword].count }}</p>

  <div class="flex-row">
    <canvas id="rateperyear"></canvas>
  </div>

  <div>
    {%- set yearCountMap = topKeywords[keyword].years | map(['year', 'count']) -%}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const years = [{{ yearCountMap.year }}].map(y => parseInt(y))
    const counts = [{{ yearCountMap.count }}]
    let countYearData = years.map((year, index) => {
      return {
        year: year,
        count: counts[index]
      }
    });
    const minYear = 1981;
    const maxYear = (new Date()).getFullYear();
    for (let i = minYear; i <= maxYear; i++) {
      if (!countYearData.find(y => y.year === i)) {
        countYearData.push({
          year: i,
          count: 0
        });
      }
    }
    countYearData = countYearData.sort((a, b) => a.year - b.year);
    const ctx = document.getElementById('rateperyear').getContext('2d');
    // const labels = Utils.years({{ topKeywords[keyword].years }});
    const config = {
      type: 'bar',
      options: {
        animation: {
          duration: 300
        },
        scales: {
          x: {
            ticks: {
              font: {
                family: 'Afacad',
                size: 14
              }
            }
          },
          y: {
            ticks: {
              font: {
                family: 'Afacad',
                size: 14
              }
            }
          }
        },
        plugins: {
          legend: {
            labels: {
              useBorderRadius: true,
              borderRadius: 3,
              font: {
                family: 'Afacad',
                size: 16
              }
            }
          },
          tooltip: {
            titleFont: {
              family: 'Afacad',
              size: 14
            },
            bodyFont: {
              family: 'Afacad',
              size: 14
            }
          }
        }
      },
      data: {
        labels: countYearData.map(y => y.year),
        datasets: [
          {
            label: 'Occurance rate',
            data: countYearData.map(y => y.count),
            backgroundColor: 'rgba(21, 119, 126, 0.5)',
            borderColor: 'rgba(21, 119, 126, 0.8)',
            borderWidth: 0,
            borderRadius: 3
          }
        ]
      }
    };
    const ratePerYearChart = new Chart(ctx, config);
    registeredCharts.push(ratePerYearChart);
  </script>

</div>
