---
layout: base.njk
---

<div id="wordcloud">
  {%- for key, val in keywordsYearMap[year] | sortBy('percentage') | limit(20) | SortAlphabetically -%}
  {# {% if loop.index0 < 20 %} #} <a href="/keyword/{{ key | slugify }}"><span
      style="font-size: {{ (val.percentage * 7)| minMax(16, 46)}}px" title="{{val.percentage | toFixed}}%">{{
      val.tags[0] }}
      {% if val.growthRate > 0 %}
      <span style="color: green; font-size: {{ (val.percentage * 5) | minMax(10, 30)}}px;">▲</span>
      {% else %}
      <span style="color: red; font-size: {{ (val.percentage * 5) | minMax(10, 30)}}px;">▼</span>
      {% endif %}
    </span></a>
    {# {% endif%} #}
    {% endfor -%}
</div>

<div class="flex-row">
  <div class="flex-col">
    <h2>Top 10 Keywords</h2>
    <ul>
      {%- set n = 0 -%}
      {%- for key, val in keywordsYearMap[year] | sortBy('percentage') | limit(20) -%}
      {% if n < 10 and key !="360" and key !="1" %} <li><a href="/keyword/{{ key | slugify }}">{{ val.tags[0] }}</a> ({{ val.percentage | toFixed }}%)</li>
        {%- set n = n + 1 -%}
        {% endif %}
        {%- endfor -%}
    </ul>
    {%- if keywordsYearMap[year] | length > 10 -%}
    <a href="/year/{{ year }}/keywords">View top 100</a>
    {%- endif -%}
  </div>

  <div class="flex-col">
    <h2>Rising Keywords</h2>
    <ul>
      {%- set n = 0 -%}
      {%- for key, val in keywordsYearMap[year] | sortBy('growthRate') | limit(20) -%}
      {%- if val.growthRate > 0 and n < 10 -%} <li><a href="/keyword/{{ key | slugify }}">{{ val.tags[0] }}</a> ({{ val.growthRate | toFixed }}%)</li>
        {%- set n = n + 1 -%}
        {%- endif -%}
        {%- endfor -%}
    </ul>
  </div>

  <div class="flex-col">
    <h2>Falling Keywords</h2>
    <ul>
      {%- set n = 0 -%}
      {%- for key, val in keywordsYearMap[year] | sortBy('growthRate', true) | limit(20) -%}
      {%- if val.growthRate < 0 and n < 10 -%} <li><a href="/keyword/{{ key | slugify }}">{{ val.tags[0] }}</a> ({{ val.growthRate | toFixed }}%)</li>

        {%- set n = n + 1 -%}
        {%- endif -%}
        {%- endfor -%}
    </ul>
  </div>
</div>

<div class="flex-row">
  <div class="flex-col">
    <h2>Top 10 Institutions</h2>
    <ul>
      {%- for key, val in topInstitutions[year] | sortBy('count') | limit(10) -%}
      <li>{{ val.display | safe }} ({{ val.count }})</li>
      {%- endfor -%}
    </ul>
    {%- if topInstitutions[year] | length > 10 -%}
    <a href="/year/{{ year }}/institutions">View top 100</a>
    {%- endif -%}
  </div>

  <div class="flex-col">
    <h2>Top Published Authors</h2>
    <ul>
      {%- for key, val in topPeople[year] | sortBy('count') | limit(10) -%}
      <li>{{ val.display | safe }} ({{ val.count }})</li>
      {%- endfor -%}
    </ul>
  </div>

</div>
